<?xml version="1.0"?>
<robot name="dasautonomeauto" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="gpu" default="false"/>
    <xacro:property name="gpu" value="$(arg gpu)" />

      <!-- Add the wheels xacros -->
    <xacro:include filename="$(find niagara_model)/urdf/Autoreifen.xacro" />
    
    <xacro:arg name="gpu" default="false"/>
    <xacro:property name="gpu" value="$(arg gpu)" />
    <xacro:arg name="organize_cloud" default="false"/>
    <xacro:property name="organize_cloud" value="$(arg organize_cloud)" /> 
    
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
    <xacro:VLP-16 parent="base_link" name="rslidar" topic="/rslidar_points" organize_cloud="${organize_cloud}" hz="10" samples="440" gpu="${gpu}">
        <origin xyz="0 0 0.8" rpy="0 0 0" />
    </xacro:VLP-16>


    <!-- Robot mechanical and motor parameters -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="wheel_width" value="0.175" />
    <xacro:property name="clearance" value="${0.3/2.0}" />

    <!--  BASE FOOTPRINT  -->
    <link name="base_footprint"/>

    <joint name="base_footprint_joint" type="fixed">
      <origin xyz="0 0 0.0" rpy="0 0 0" /> 
      <parent link="base_footprint"/>
      <child link="base_link" />
    </joint>  


    <!-- BASE_LINK -->
    <link name="base_link">
        <inertial>
            <mass value="125.0" />
            <origin xyz="0 0 0" />
            <inertia  ixx="1.391" ixy="0.004"  ixz="0.0"  iyy="6.853"  iyz="0.0"  izz="6.125" />
        </inertial>
        <visual>
            <origin xyz="-0.1 0 -0.25" rpy="0 0 1.57" />
            <geometry>
                <!-- <mesh filename="file://$(find niagara_model)/meshes/base_link.STL" /> -->
                <mesh filename="file://$(find niagara_model)/meshes/prius/hybrid_body.obj" scale="0.0065 0.0065 0.0065" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0 " />
            <geometry>
                <mesh filename="file://$(find niagara_model)/meshes/base_link.STL" />
            </geometry>
        </collision>     
    </link>

    <xacro:front_wheel_to_base lr_prefix="left" fr_prefix="front" lr_reflect="1" fr_reflect="1" />
    <xacro:front_wheel_to_base lr_prefix="right" fr_prefix="front" lr_reflect="-1" fr_reflect="1" />
    <xacro:rear_wheel_to_base lr_prefix="left" fr_prefix="rear" lr_reflect="1" fr_reflect="-1" />
    <xacro:rear_wheel_to_base lr_prefix="right" fr_prefix="rear" lr_reflect="-1" fr_reflect="-1" />


    <!-- 多种相机配置 -->
    <!-- <xacro:include filename="$(find niagara_model)/urdf/zed2.xacro" /> -->
    <!-- <xacro:include filename="$(find niagara_model)/urdf/camera.xacro" /> -->
    <!-- <xacro:include filename="$(find niagara_model)/urdf/depth_camera.xacro" /> -->

    <xacro:include filename="$(find niagara_model)/urdf/imu.xacro" />

    <!-- <xacro:include filename="$(find niagara_model)/urdf/sensors.xacro" /> -->
    <xacro:include filename="$(find niagara_model)/urdf/AckermannPlugIn.xacro" />

</robot>